{% extends "front_base.html"%}

{% block content %}

<section id='home-picture' class="container-fluid">

</section>

<section id="aboutBYY" class="">
  <div class="container">
    <div class="about-header mt-3 p-5">
      <h3 class="my-4 text-white text-center display-4">What is Best Year Yet?</h3>
    </div>
    <br>
    <hr>
    <h2 class="text-center">Best Year Yet (BYY) is my way of sharing my progress toward my 2019 goals</h2>
    <hr>
    <div id="aboutBody" >
      <p class="my-3 about-text text-justify">Everyone has a vision for how their life could be better.
        A promotion, stronger relationships with family and friends and better physique.
        Maybe finally mastering Spanish, finishing your novel, or dusting off some old
        hobby that has fallen by the wayside of an active adult life.  The New Year often
        causes people to refect on where they are in their path and what could be better.
        This invariably leads to a short list of resolutions that are more often mocked than
        adheared to. Often a resolution is just a wish that we quickly wrap in a thin petina
        of seriousness. "No, Seriously.  This is it. This is my year..." More often than not,
        resolutions fail becaus they were never more than a wish made with the addtional intensity
        that comes from the reflective mood of the New Year.</p>
        <hr>
        <h4 class="text-center" >Real progress will take more than a wish,</h4>
        <br>
        <h3 class="text-center">It requires a plan.</h3>
        <hr>
        <p class="my-3 about-text text-justify">What does one need to turn
          resolutions into results?  Reaching goals requires 4 core
          things: a <a href="https://en.wikipedia.org/wiki/SMART_criteria">S.M.A.R.T</a> goal,
          a plan for each goal, dedication, a way to record, share, and engage with your results.
          The last of these is where <strong>Best Year Yet</strong> comes in. This site allows
          me to record and share my progess on all my various resolutions.  The site is broken
          into a few different sections.
          <ul class="list-group list-indent">
            <li class="list-group-item"><p>The <a href="{{url_for('public_view.index')}}">Home</a> page contains any news of progress I've made
            in the last month.</p></li>
            <li class="list-group-item"><p>The <a href="{{url_for('public_view.blog_posts')}}">Blog</a> is, well, a blog, meant to record my thoughts on my progress
            and achievements.</p></li>
            <li class="list-group-item"><p>The <a href="{{url_for('public_view.resolutions')}}">Resolutions</a> page will display the resolutions and their progress
            as well as some high-level metrics.</p></li>
            <li class="list-group-item"><p>The <a href="{{url_for('public_view.books')}}">Books</a> page is place for me to record the deatils
            of and my thoughts on the books I read this year.</p></li>
            <li class="list-group-item"><p>The <a href="{{url_for('public_view.health')}}">Health</a> page with generate a graphic
            interface for my various health realted goals for this year.</p></li>
          </ul>
          </p>
      <p class="my-3 about-text text-justify">The task is daunting, I know.  I will likely not acchieve
        them all. Some are more critical that others.  Some are included as reach goals.  However, the
        more challenges undertaken, the more victories to be celebrated.</p>
      <div id="aboutBodyNote" class="yellowhead border py-0 px-5">
        <h4 class="my-2">Note:</h4>
        <div class="container">
          <p class="my-2 about-text text-justify">A significant portion of my career/skillset goals are Computer Science and Coding related. Creating this page is one of those resolutions.  As my web dev skills grow throughout the year, this page will grow, change, and improve.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="aboutMe" class="my-5">
    <div class="container">
        <div id="aboutMe">
    <h3 class="my-2">About me :</h3>
    <p class="about-text text-center body-text">My name is Jacob.  I live in Tulsa, OK with my two children.  I'm a huge nerd.</p><br><strong class="text-center"><p>2019 will be my best year yet.</p></strong>
    </div>
    </div>
  </section>
<br>
<br>
<br>
<br>

{% endblock %}
