
{% extends "front_base.html"%}

{% block content %}

<section class="container mt-4">
  <img  class="img-img img-fluid" src="{{url_for('static',filename='blog_post_pics/'+ blog_post.blog_name +'.jpg')}}" alt="#000">
</section>
<section class="text-center">
  <div class="container">
    <header class="pb-3 mx-auto my-4">
      <h1 id="headline" class="display-3 ">{{blog_post.subject}}</h1>
      <h3 class="mt-3 display-5">{{blog_post.subtitle}}</h3>
      <h5 class="mt-3">{{blog_post.date.strftime('%B %d, %Y')}}</h5>
    </header>
    <hr>
  </div>
</section>
<section>
  <div class="container">
    <div class="text-box py-2">
      <div class="row ">
        <div class="col">
          <p class="my-4 review">
            {{blog_post.text}}
          </p>
        </div>
      </div>
    </div>
    <img id="heart" class="pb-4 mx-auto d-block" src="{{url_for('static',filename='img/heart.png')}}" alt="">
  </div>
</section>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
