{% extends "front_base.html"%}

{% block content %}

<section id="header">
  <div class="container">
    <div class="jumbotron mt-4 text-center gold">
      <h1 class="display-2" style=" overflow-wrap: break-word;">{{title}}</h1>
      <h4>{{headline}}</h4>
    </div>
  </div>
</section>
<section id="book">
  <div class="container">
  <div class="row">
    <div class="col-sm-4"><img src="{{url_for('static',filename='book_pics/'+ book_name +'.jpg')}}" class="img-fluid" alt=""></div>
      <div class="col-sm-8 border">
        <div class="row">
          <div class="col-6">
            <h3 class="py-3 align-middle">Title: </h3>
            <h3 class="py-3 align-middle">Author: </h3>
            <h3 class="py-3 align-middle"># of Pages: </h3>
            <h3 class="py-3 align-middle">Language: </h3>
            <h3 class="py-3 align-middle">Fiction/Non-Fiction: </h3>
            <h3 class="py-3 align-middle">Genre: </h3>
            <h3 class="py-3 align-middle">Publication Date: </h3>
          </div>
          <div class="col-6">
            <h3 class="py-3 align-middle">{{title}}</h3>
            <h3 class="py-3 align-middle">{{author}}</h3>
            <h3 class="py-3 align-middle">{{pages}}</h3>
            <h3 class="py-3 align-middle">{{language}}</h3>
            <h3 class="py-3 align-middle">{{f_nf}}</h3>
            <h3 class="py-3 align-middle">{{genre}}</h3>
            <h3 class="py-3 align-middle">{{pub_date}}</h3>
          </div>
        </div>
      </div>
  </div>
  <div class="container" style="width: 80%;">
    <h4 class="my-4 text-center display-4">Review</h4>
    <p class="my-4 review text-justify">{{review}}</p>
  </div>
  <br>
  <img id="heart" class="mx-auto d-block" src="{{url_for('static',filename='img/heart.png')}}" alt="">
  </div>
</section>

<br>
<br>
<br>
<br>
<br>


{% endblock %}
