
{% extends "front_base.html" %}

{% block content %}
<title>Best Year Yet</title>


<body>
<!-- START HERE -->


<section id='home-picture' class="container-fluid">

</section>
<section id="brand-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-2 m-3 text-center">Best Year Yet</h1>
        <h2 class="m-3 text-center">Quanitfying New Years Resolutions</h2>
      </div>
    </div>
  </div>
</section>
<section id="about" class="container-fluid">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h1 class="display-5 py-5 text-center text-white d-none d-sm-block">You don't achieve what you don't measure...</h1>
        </div>
      </div>
    <div class="row mx-3 mt-3">
      <div class="col-sm-3 my-3 text-center"><a href="{{url_for('public_view.resolutions')}}"><i class="fas mb-2 fa-trophy fa-4x"></i><h2 class="text-white">Resolutions</h2><h5 class="pt-3 icon-text text-white">A comprehensive list of Resolutions, by category</h5></div></a>
      <div class="col-sm-3 my-3 text-center"><a href="{{url_for('public_view.blog_posts')}}"><i class="fas mb-2 fa-pen fa-4x"></i><h3 class="text-white">Blog</h3><p class="pt-3 icon-text text-white">My thoughts about progress made toward goals</p></div></a>
      <div class="col-sm-3 my-3 text-center"><a href="{{url_for('public_view.books')}}"><i class="fas mb-2 fa-book-open fa-4x"></i><h3 class="text-white">Books</h3><p class="pt-3 icon-text text-white">A record of books read</p></div></a>
      <div class="col-sm-3 my-3 text-center"><a href="{{url_for('public_view.health')}}"><i class="fas mb-2 fa-laptop-medical fa-4x"></i><h3 class="text-white">Health</h3><p class="pt-3  icon-text text-white">Some metrics regarding my health</p></div></a>
      </div>
    </div>
</section>

<section id="news" class="gold">
  <div class="row pb-3">
    <div class="col-sm-3">
        <h1 class="display-1 text-center align-text-middle">News: </h1>
    </div>
    <div class="col-sm-9">
      <div class="p-4 text-white">
        <div class="container">
          <div class="col">
            <div class="slider">
              {% for i in contents %}
                <div>
                  <h4 class="text-dark text-center">{{i.subject}}</h4>
                  <p class="blockquote text-center">
                      {{i.text}}
                  </p>
                  <small>
                    <p class="text-center text-dark">{{i.area}} - {{i.date.strftime('%b %d, %Y')}}</p>
                  </small>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<br>
<br>





<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

{% endblock %}
