{% extends "front_base.html" %}

{% block content %}


<!-- START HERE -->

<section id="header">
  <div class="container my-5">
    <div class="jumbotron text-center gold">
      <h1 class="display-1 my-2 headertext" >Resolutions</h1>
    </div>
  </div>
</section>
<section id="dashboard">
  <div class="container my-5">
    <div class="row">
      <div class="col-sm-6">
      <canvas id="statusChart" class="">
      </canvas>
      </div>
      <div class="col-sm-6">
      <canvas id="distro" class="">
      </canvas>
      </div>
    </div>
  </div>
</section>

</section>
<section id="goal">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <label for="areaSelect">Area</label>
        <div class="form-group" id="areaSelect">
          <select id="getArea" class="form-control">
              <option value="health">Health and Grooming</option>
              <option value="career">Career</option>
              <option value="home">Home</option>
              <option value="projects">Projects</option>
              <option value="learning">Learning</option>
              <option value="family">Family</option>
              <option value="headspace">Headspace</option>
          </select>
        </div>
        <label for="goalSelect">Resolution</label>
        <div class="form-group" id="goalSelect">
          <form action="">
            <select class="form-control" id="getGoal" name="">
                <option value="0">Lose 90 lbs</option>
            </select>
          </form>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h3 id="name" class="text-right"></h3>
            </div>
            <hr>
            <div class="">
              <div class="row pb-4">
                <div class="col-3">
                  <h4 class="resolabel">Area:</h4>
                </div>
                <div class="col-9">
                  <h5 id="area"class="text-right"></h5>
                </div>
              </div>
              <div class="row pb-4">
                <div class="col-3">
                  <h4 class="resolabel">Type:</h4>
                </div>
                <div class="col-9">
                  <h5 id="type" class="text-right"></h5>
                </div>
              </div>
              <div class="row pb-4">
                <div class="col-3">
                  <h4 class="resolabel">Description:</h4>
                </div>
                <div class="col-9">
                  <p id="description" class="resotext text-right"></p>
                </div>
              </div>
              <div class="row pb-4">
                <div class="col-3">
                  <h4 class="resolabel">Status:</h4>
                </div>
                <div class="col-9">
                  <h5 id="status" class="text-right resotext"></h5>
                </div>
              </div>
              <div class="row pb-4">
                <div class="col-3">
                  <h4 class="resolabel">News:</h4>
                </div>
                <div class="col-9">
                  <h5 id="update_news" class="text-right resotext"></h5>
                </div>
              </div>
              <div class="progress" style="height:30px;">
                <div id="percent_complete" class="progress-bar gold text-dark" ></div>
              </div>
              <small>Progress</small>
              <br>
            </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</section>
<br>
<br>
<br>
<br><br>
<br>
<script id="statusChart">
var resolutions = document.getElementById('statusChart').getContext('2d');
var resolutions = new Chart(resolutions,
{
  type: 'doughnut',
  data: {
    labels:['Not Started Yet','In Flight','Complete'],
    datasets:[{
      label : 'Status',
      backgroundColor: ['#3d415a','#b75d20','#fbc9b2'],
      borderColor: ['#3d415a','#b75d20','#fbc9b2'],
      fill: true,
      data : [{{nsy}},{{inf}}, {{cpt}}]
            }],
          },
  options: {
    responsive: true,
    title: {
      display: true,
      text: 'Status'
    },
    tooltips: {
      mode: 'index',
      intersect: false,
    },
    hover: {
      mode: 'nearest',
      intersect: true
    }
  }
});
</script>
<script id="distro">
var resolutions = document.getElementById('distro').getContext('2d');
var resolutions = new Chart(resolutions,
{
  type: 'doughnut',
  data: {
    labels:["Health", "Career", "Home","Projects", "Learning", "Family", "Headspace"] ,
    datasets:[{
      label : 'Status',
      backgroundColor: ['#3d415a','#b75d20','#fbc9b2','#8f8643','#b588ac','#d07e1c','#d0c5c9'],
      borderColor: ['#3d415a','#b75d20','#fbc9b2','#8f8643','#b588ac','#d07e1c','#d0c5c9'],
      fill: true,
      data : [{{healthc}},{{careerc}},{{homec}},{{projectsc}},{{learningc}},{{familyc}},{{headspacec}}]
            }],
          },
  options: {
    responsive: true,
    title: {
      display: true,
      text: 'Resolutions by Area'
    },
    tooltips: {
      mode: 'index',
      intersect: false,
    },
    hover: {
      mode: 'nearest',
      intersect: true
    }
  }
});
</script>

{% endblock %}
