{% extends "base.html" %}

{% block content %}
<div class="container">
  <form method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
     <div class="form-group">
     {{form.weight.label(class="form-control-label")}}
     {{form.weight(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.diastole.label(class="form-control-label")}}
     {{form.diastole(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.systole.label(class="form-control-label")}}
     {{form.systole(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.bicep.label(class="form-control-label")}}
     {{form.bicep(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.chest.label(class="form-control-label")}}
     {{form.chest(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.stomach.label(class="form-control-label")}}
     {{form.stomach(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.waist.label(class="form-control-label")}}
     {{form.waist(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.hips.label(class="form-control-label")}}
     {{form.hips(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.progress_image.label(class="form-control-label")}}
     {{form.progress_image(class="form-control form-control-lg")}}
     </div>
     <div class="form-group">
     {{form.submit(class="btn btn-primary")}}
     </div>
  </form>

</div>


{% endblock %}
